doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='../../static/styles/style.css', type='text/css')
  body
    block header
      h1 #{title}
    block content
      
    block footer
      p  Remco Kuckelkorn &copy; 2019
      
    
