doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='../../static/styles/style.css', type='text/css')
    block stylesheet
  body
    h1 #{title}
    block header
    block content  
    block footer
    p  Remco Kuckelkorn &copy; 2019
    block scripts
      
    
