extends layouts/main.pug

block stylesheet
  link(rel='stylesheet', href='../../static/styles/form.css', type='text/css')
block header
  h2 Log in to your account 
block content
  main.login
    h3 Fill in your information
    form(action='/login' method='POST')
      p
        label email
          input(type='text' name='email')
      p
        label password
          input(type='password' name='password')
      p
        button(name='login') Login
      
  
