extends layouts/main.pug
block content
	section
		p In order to use this site you have to be over the age of 17, by pressing the button below you consent to being 17 or over! 
		a(href='/')
				button I consent
