extends layouts/main.pug

block content
	p It seems like you don't have an account yet why don't you register for an account it is as easy as squeezing a lemon	
	a(href='/member/add')
		button Register
