extends layouts/main.pug
block content
  section
    img.wrapper(src="../../static/assets/gala-10.JPG" alt="groepsfoto")
  section.info
    p Welkom op de officiele site van de oratorische vereniging Het W.G. Tao
    p Het W.G. Tao is een herendispuut voortgekomen uit I.V.M.B.O en is gelieerd aan de studentenvereniging
      |L.A.N.X. te Amsterdam. Het dispuut is opgericht op 21 oktober in 1965, en is gehuisvestigd op de Alexanderkade
      |te Amsterdam. Het W.G. Tao staat bekend als het meest verticale dispuut binnen L.A.N.X, met de vele weekenden weg
      |en de activiteiten die het heeft zorg het W.G. voor een bijzondere studententijd voor haar leden.
      |Het W.G. borrelt iedere maandag/dinsdag op de societeit van L.A.N.X. daarnaast borrelt het iedere vrijdag op een
      |andere locatie.
  section.bestuur
    h2 Het bestuur
    ul
      li De Curator Actorum
      li De Preator
      li De Queastor
