extends layouts/main.pug

block content
	form.add(action='/member/add' method='post')
		fieldset
			legend Login Settings
			label(required for='email') emailadres
			input(type='email' name='email' accept='email')
			label(for='password') Password
			input(required type='password' name='password' accept='text')
				
		fieldset
			legend Info
			label(for='firstname') Firstname
			input(required type='text' name='firstname' accept='text')
			label(for='lastname') Lastname
			input(required type='text' name='lastname' accept='text')
			label(for='birthdate') Birthdate
			input(type='date' name='birthdate' accept='date')
				
		button(type='submit') Make Account
		
		
		
			
			
			
			
				
		
