doctype
html
	head
		title Het W.G. Tao
		link(href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet")
		link(rel='stylesheet', href='../../static/styles/style.css', type='text/css')
	body
		header
			img.wapen(src="../../static/assets/wapenTao.png" alt="tao wapen")
			nav 
				ul
					li
						a(href="/") Login
					li
						a(href="/contact") Contact
				ul
					li
						a(href="/") Home
					li
						a(href="/member") Leden
					li
						a(href="/planning") Planning
					li
						a(href="/contact") Contact
					li
						a(href="/profile") Profiel
		main
			block content  
		footer
			p  het W.G. Tao &copy; 2019
