doctype
html
	head
		title EzDate
		link(href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet")
		link(rel='stylesheet', href='../../static/styles/style.css', type='text/css')
	body
		header
			img.logo(src="http://pngimg.com/uploads/lemon/lemon_PNG25201.png" alt="lemon")
			nav 
				ul
					li
						a(href="/") Home
					li
						a(href="/member") Leden
		main
			block content  
		footer
			p  Ez Date &copy; 2019
