doctype
html
	head
		title EzDate
		link(href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet")
		link(rel='stylesheet', href='../../static/styles/style.css', type='text/css')
	body
		header
			h1 Ez Date
			nav 
				ul
					li
						a(href="/") Home
					li
						a(href="/member") Leden
		main
			block content  
		footer
			p  Ez Date &copy; 2019
