body {
	display: flex;
	flex-direction: column;
	font-family: 'Archivo', sans-serif;
	margin: 0;
	min-height: 100vh;
}

h1 {
	background:
		linear-gradient(yellow 0,
		yellow 30%,
		white 30%,
		white 35%,
		orange 35%,
		orange 65%,
		white 65%,
		white 70%,
		red 70%,
		red 100%) left bottom #fff no-repeat;
	background-size: 100% 40px;
	display: flex;
	justify-content: space-around;
	padding-bottom: 40px;
	width: 100%;
}

main{
	flex:1;
}

nav{
	display: flex;
	justify-content: space-around;
}

ul{
	list-style: none;
	display: inline-flex;
	justify-content: space-around;
}

.info{
	padding: 0 5em 2.5em;
}

.add {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 1em 5em;
}

input {
	width: 100%;
}

fieldset{
	border: none;
}

footer {
	background:
		/* gradient can be an image */
		linear-gradient(yellow 0,
		yellow 30%,
		white 30%,
		white 35%,
		orange 35%,
		orange 65%,
		white 65%,
		white 70%,
		red 70%,
		red 100%) left top #fff no-repeat;
	background-size: 100% 40px;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
	margin:0;
}

.member{
	background: gray;
	margin: 10px;
	padding: 1em;
	border: solid 0;
	border-radius: 20px;
	width: 33%;
	float: left;
	color: white;
}

.ind{
	background: gray;
	width: 50%;
	margin: 10px;
	padding: 1em;
	justify-content: space-around;
	color: white;
}
